@font-face {
  font-family: "iconfont"; /* Project id 2816335 */
  src: url('//at.alicdn.com/t/font_2816335_jhhp954fwlg.woff2?t=1635593601553') format('woff2'),
       url('//at.alicdn.com/t/font_2816335_jhhp954fwlg.woff?t=1635593601553') format('woff'),
       url('//at.alicdn.com/t/font_2816335_jhhp954fwlg.ttf?t=1635593601553') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huidaodingbu:before {
  content: "\e670";
}

.icon-skintest:before {
  content: "\e6e1";
}

.icon-juejin1:before {
  content: "\e610";
}

.icon-csdn:before {
  content: "\e60d";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-ziyuan:before {
  content: "\e600";
}

.icon-biaoqian2:before {
  content: "\e612";
}

.icon-icon-:before {
  content: "\e627";
}

.icon-gengxin:before {
  content: "\e725";
}

.icon-zhuye-copy:before {
  content: "\e602";
}

.icon-wenzhang:before {
  content: "\e6cb";
}

.icon-guidang:before {
  content: "\e67e";
}
