.blog-archive {
  padding: 0 10px;
  width: 100%;
}

.inner {
  width: 100%;
  box-shadow: $blog-boxShadow;
}

//窗口宽度小于等于1024时（也就是移动端）：版心100%
@media screen and (max-width: 1024px) {
  .blog-archive {
    padding: 0 5px;
  }

  .inner{
    margin-top: 5px;
  }
}
