// normalizeCSS
@import "~assets/css/normalize/index.scss";

// 阿里图标库
@import "~assets/iconfont/index.scss";

// 字体
@font-face {
  font-family: "Monoton-Regular";
  src: url(~assets/font/Monoton-Regular.ttf);
}

html {
  // 火狐下隐藏滚动条
  scrollbar-width: none;

  // 消除移动端点击背景颜色
  -webkit-tap-highlight-color: transparent;
}

// 滚动条
::-webkit-scrollbar {
  display: none;
}

// 移动端适配
@media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

// [iphone678]320px
@media screen and (min-width: 375px) {
  html {
    font-size: 11px;
  }
}

// [pixel2,一加]411px ｜ [iphone678P]414px
@media screen and (min-width: 411px) {
  html {
    font-size: 14px;
  }
}

// [ipad]768px [ipadPro]1024px
@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

// PC端窗口 ≥ 1500px
@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}
