// normalizeCSS
@import "~assets/css/normalize/index.scss";

// 阿里图标库
@import "~assets/iconfont/index.scss";

// 移动端适配
@import "~assets/css/responsive-design/index.scss";


// 字体
@font-face {
  font-family: "Monoton-Regular";
  src: url(~assets/font/Monoton-Regular.ttf);
}



html {
  // 火狐下隐藏滚动条
  scrollbar-width: none;

  // 消除移动端点击背景颜色
  -webkit-tap-highlight-color: transparent;
}

// 滚动条
::-webkit-scrollbar {
  display: none;
}

