

.wrapper {
  min-height: 100vh;
  background-color: #eee;
}

.content {
  margin: 0 auto;

  //版心
  width: 1000px;
}

.header {
  position: sticky;
  top: 0;

  //目前最高层级
  z-index: 1;
  height: 0;

  .header-inner {
    display: flex;
    flex-direction: column;
    width: 240px;
    box-shadow: $blog-boxShadow;
    background-color: white;
  }

  .header-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    color: #fff;
    background-color: #222;

    .switch {
      position: absolute;

      //>1024不显示，<1024变为 display: flex
      display: none;
      align-items: center;
      justify-content: center;
      left: 20px;
      width: 40px;
      height: 40px;
      cursor: pointer;

      .Switchicon {
        display: block;
        padding: 3px 0;
        transition: transform 0.2s ease;
      }

      .Switchicon::before {
        content: "";
        display: block;
        width: 28px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        transition: transform 0.2s ease 0.1s, background-color 0.3s ease;
      }
    }

    .brand {
      font-family: Arial;
      font-size: 1.3rem;
    }
  }
}

.header.header-active {
  // 这里的高度需要大于头部内容总高度，从而通过max-height实现不定高过渡动画
  max-height: 390px;
  //switch的动画
  .Switchicon:nth-child(1) {
    transform: translateY(8px);
  }
  .Switchicon:nth-child(1)::before {
    transform: rotate(45deg);
  }
  .Switchicon:nth-child(2) {
    opacity: 0;
    transition: none;
  }
  .Switchicon:nth-child(3) {
    transform: translateY(-8px);
  }
  .Switchicon:nth-child(3)::before {
    transform: rotate(-45deg);
  }
}

.nav {
  margin: 10px 0;

  .navItem {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #f5f5f5;
    }

    i {
      padding: 0 20px;
      vertical-align: bottom;
      font-size: 1.1rem;
      line-height: 40px;
    }
  }
}

.total {
  display: flex;
  align-items: center;
  padding: 10px 0;
  height: 46px;
  border-top: 1px dashed #eee;
  font-size: 12px;
  text-align: center;

  .articleTotal,
  .browseTotal {
    flex: 1;
    color: #999;
    span {
      font-weight: bold;
    }
    p {
      padding-top: 0.4rem;
    }
  }

  div:not(:last-child) {
    border-right: 1px solid #eee;
  }
}

.blog {
  display: flex;

  //不能小于侧边栏的top,sticky会失效
  min-height: 615px;

  .blog-side {
    position: sticky;
    display: flex;
    flex: 0 0 240px;
    flex-direction: column;
    top: 397px;
    height: 218px;
    text-align: center;
    box-shadow: $blog-boxShadow;
    background-color: white;

    .avatar {
      margin: 20px 0;
      cursor: pointer;

      img {
        width: 40%;
        border-radius: 50%;
        transition: transform 2s;
        &:hover {
          transform: rotate(1800deg);
        }
      }
    }

    .motto {
      padding: 0 1rem;
      font-size: 13px;
      color: #999;
    }

    .links-of-author {
      display: flex;
      justify-content: center;
      margin-top: 25px;

      div {
        margin: 0 5px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        line-height: 30px;

        &:hover {
          background-color: #eee;
        }

        i {
          color: #999;
          &.icon-juejin1 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

//窗口宽度大于1600px：版心百分比伸缩
@media screen and (min-width: 1600px) {
  .content {
    width: 62%;
  }
}
//窗口宽度小于等于1024时（也就是移动端）：版心100%
@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
  }
  .header {
    height: auto;
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.4s;

    .header-inner {
      width: 100%;
      box-shadow: none;
    }

    .header-switch {
      height: 80px;

      .switch {
        display: flex;
      }
    }
  }

  .total {
    border-bottom: 1px solid #a1a3a666;
  }

  .blog {
    .blog-side {
      display: none;
    }
  }
}
