.wrapper {
  min-height: 100vh;
  background-color: #eee;
}

.content {
  margin: 0 auto;
  width: 1200px; //版心
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 0;

  .header-inner {
    width: 240px;
    font-size: 12px;

    //组块
    .block {
      margin-bottom: 10px;
      box-shadow: $blog-boxShadow;
      background-color: white;
    }

    .switch {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 130px;
      color: #fff;
      background-color: #222;

      .switch-btn {
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        left: 20px;
        width: 40px;
        height: 40px;
        cursor: pointer;

        .Switchicon {
          display: block;
          padding: 3px 0;
          transition: transform 0.2s ease;
        }

        .Switchicon::before {
          content: "";
          display: block;
          width: 28px;
          height: 2px;
          border-radius: 2px;
          background-color: #fff;
          transition: transform 0.2s ease 0.1s, background-color 0.3s ease;
        }
      }

      .brand {
        font-family: Arial;
        font-size: 1.3rem;
      }
    }

    .category-select {
      display: flex;
      justify-content: center;
      padding: 10px 0.5rem;

      .select {
        position: relative;
        width: 100%;

        &::before {
          content: "已选择的文章分类";
          position: absolute;
          right: 30px;
          z-index: 1;
          font-size: 12px;
          line-height: 40px;
          color: #c0c4cc;
          pointer-events: none;
        }
      }
    }

    .nav {
      .router-link-active {
        position: relative;

        &::before {
          content: "\e687";
          position: absolute;
          right: 15%;
          font-family: "iconfont";
          font-size: 1px;
          color: #d24d57;
          animation: turn 0.4s forwards;
        }

        @keyframes turn {
          30% {
            transform: scale(2.5);
          }
          100% {
            transform: scale(2);
          }
        }
      }

      .navItem {
        display: block;
        line-height: 40px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f5f5f5;
        }

        i {
          padding: 0 20px;
          vertical-align: bottom;
          font-size: 1rem;
        }
      }
    }

    .total {
      display: flex;
      align-items: center;
      padding: 5px 0;
      height: 46px;
      border-top: 1px dashed #eee;
      text-align: center;

      .total-item {
        flex: 1;
        color: #999;
        span {
          font-weight: bold;
        }
        p {
          padding-top: 0.4rem;
        }
      }

      div:not(:last-child) {
        border-right: 1px solid #eee;
      }
    }

    .avatar {
      padding: 15px 0;
      text-align: center;

      img {
        width: 40%;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 2s;

        &:hover {
          transform: rotate(1800deg);
        }
      }
    }

    .motto {
      padding: 0 1rem;
      font-size: 13px;
      text-align: center;
      color: #999;
    }

    .links-of-author {
      display: flex;
      justify-content: center;
      padding: 15px 0;

      div {
        margin: 0 2%;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;

        &:hover {
          background-color: #eee;
        }

        i {
          color: #999;
          &.icon-juejin1 {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.header.header-active {
  // 这里的高度需要大于头部内容总高度，从而通过max-height实现不定高过渡动画
  max-height: 408px;
  // switch的动画
  .Switchicon:nth-child(1) {
    transform: translateY(8px);
  }
  .Switchicon:nth-child(1)::before {
    transform: rotate(45deg);
  }
  .Switchicon:nth-child(2) {
    opacity: 0;
    transition: none;
  }
  .Switchicon:nth-child(3) {
    transform: translateY(-8px);
  }
  .Switchicon:nth-child(3)::before {
    transform: rotate(-45deg);
  }
}

.blog {
  margin-left: 240px;
}

.publicWrapper {
  box-sizing: border-box;
  padding: 0 10px 10px;
  max-height: 100vh;
  overflow: scroll;
}

// ========响应式========

//窗口宽度小于1024px：版心缩小
@media screen and (max-width: 1024px) {
  .content {
    width: 1024px;
  }
}

//窗口宽度小于1000时：版心100%
@media screen and (max-width: 1000px) {
  .content {
    width: 100%;
  }

  .header {
    height: auto;
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.4s;

    .header-inner {
      width: 100%;
      border-bottom: 2px solid rgb(228, 228, 228);

      .block {
        margin-bottom: 0;
        box-shadow: none;
      }

      .switch {
        height: 80px;
        .switch-btn {
          display: flex;
        }
      }

      .avatar,
      .motto {
        display: none;
      }
    }
  }

  .blog {
    margin-left: 0;
  }

  .publicWrapper {
    padding: 0.5rem;
    max-height: calc(100vh - 80px);
  }
}
