.el-image {
  width: 100%;
  height: 480px;
}

.el-image__inner {
  max-height: 480px;
}

@media screen and (max-width: 1024px) {
  .el-image {
    height: 400px;
  }
  .el-image__inner {
    max-height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .el-image {
    height: 180px;
  }
  .el-image__inner {
    max-height: 180px;
  }
}
