

li {
  list-style: inherit;
}

.wrapper {
  background-color: #eee;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;

  .main {
    box-sizing: border-box;
    padding: 0 2rem 2rem;
    width: 880px;
    background-color: white;

    .info {
      display: flex;
      margin-bottom: 1rem;
      font-size: 1rem;
      box-shadow: 0 0 2px rgb(223, 223, 223) inset;
      color: #909090;
      background-color: rgba(238, 238, 238, 0.3);

      .info-item {
        width: 50%;
        p {
          margin: 1rem;
        }
      }
    }

    .cover {
      margin-bottom: 2rem;
    }
  }

  .sidebar {
    position: sticky;
    top: 0;
    width: 300px;
    background-color: white;

    .title {
      padding: 1rem 1rem 0;
      font-weight: bold;
      font-size: 1.3rem;
    }

    .toc {
      padding: 1rem 2rem;
    }
  }
}

.vuepress-markdown-body:not(.custom) {
  padding: 0;
}

@media (max-width: 419px) {
  .vuepress-markdown-body div[class*="v-md-pre-wrapper-"] {
    margin: 0;
    border-radius: 0;
  }
}

.el-loading-spinner .path {
  stroke: #222;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .content {
    width: 100%;

    .main {
      padding: 1rem;
      width: 100%;
    }
  }
}
