li {
  list-style: inherit;
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #eee;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .main {
    box-sizing: border-box;
    margin-right: 1rem;
    padding: 0 1.5rem 2rem;
    width: 900px;
    background-color: white;
    box-shadow: $blog-boxShadow;

 

    .info {
      display: flex;
      margin-bottom: 1rem;
      font-size: 1rem;
      box-shadow: 0 0 2px rgb(223, 223, 223) inset;
      color: #888;
      background-color: rgba(238, 238, 238, .3);

      .info-item {
        width: 50%;
        p {
          margin: 1rem;
        }
      }
    }

    .cover {
      margin-bottom: 2rem;
      position: relative;
      padding-bottom: 56.25% ;
      height: 0;
    }
  }

  .sidebar {
    position: sticky;
    top: 0;
    width: 240px;
    background-color: white;
    box-shadow: $blog-boxShadow;

    .title {
      padding: 1rem 1rem 0;
      font-weight: bold;
      font-size: 1.3rem;
    }

    .toc {
      padding: 1rem 2rem;

      .toc-item{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.el-loading-spinner .path {
  stroke: #222;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .content {
    width: 100%;

    .main {
      margin-right: 0;
      padding: .8rem;
      width: 100%;
    }
  }
}
