.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: $home-background-light;
}

.logo-content {
  font-family: Monoton-Regular;
  font-size: 8rem;
}

.nav {
  margin: 1.5rem 0;
  font-family: Arial;

  .item {
    padding: 1rem;
    font-size: 1.5rem;
    color: #249ffd;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}
